body{
    background-color: rgb(22, 21, 21);
    display: flex;
}

.homepage-box{
    width: 60%;
    max-width: 1200px; /* Prevents it from being too large */
    height: 90rem;

    background-color: rgb(32, 31, 31); /* Semi-transparent black */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Subtle shadow */

    margin-left: 340px;
    padding: 20px; /* Space inside */
    color: white; /* Text color */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.top-box{
    position: absolute;
    top: 20px
}

.top-box a{
    text-decoration: none;
    color: rgb(167, 160, 160);
}

.top-box a:hover{
    color: white;
}

.top-box i{
    position: fixed;
    font-size: 25px;
    left: 365px; /* Moves it to the far left of the viewport */
    top: 10px; /* Aligns it at the top of the viewport */
    padding-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
