body{
    background-color: rgb(22, 21, 21);
    display: flex;
}

body.modal-open {
    overflow: hidden;
  }

.homepage-box{
    width: 60%;
    max-width: 1200px; /* Prevents it from being too large */
    height: 90rem;

    background-color: rgb(32, 31, 31); /* Semi-transparent black */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Subtle shadow */

    margin-top: 78px;
    margin-left: 340px;
    padding: 20px; /* Space inside */
    color: white; /* Text color */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.header{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 10px 20px;
    background-color: rgb(32, 31, 31);
    border-radius: 5px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    padding: 10px;
}

#header{
    position: fixed;
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
}

#header.hide{
    transform: translateY(-100%);;
}

.logo{
    position: absolute;
    left: 160px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    padding-bottom: 5px;
    display: flex;
}

.flix{
    color: red;
}

.main-nav{
    display: flex;
    align-items: center;
    z-index: 1000;
}

.main-header{
    display: flex;
    list-style: none;
    position: relative;
    padding-left: 390px;
}

.main-header li {
    margin-right: 40px; /* Add spacing between items */
}

.main-header li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-header li a:hover {
    color: red;
}

.search-bar{
    position: absolute;
    color: aliceblue;
    margin-left: 1480px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.search-bar i{
    font-size: 23px;
     transition: transform 0.3s ease;
}
.search-bar i:hover{
    color: crimson;
}

.search-input{
    display: none; /* Initially hidden */
    position: absolute;
    left: -220px; /*  make the search bar appear to the left */
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
    width: 200px;
    opacity: 0; /* Start with invisible */
    transform: scaleX(0); /* Start with scale to 0 (hidden) */
    transform-origin: left center; /* Transform scale from the left */
    transition: all 0.3s ease-in-out; 
}

.search-bar.open .search-input {
    display: block;
    opacity: 1; /* Make it visible */
    transform: scaleX(1);
}

.profile {
    position: relative;
    display: inline-block;
    margin-left: 305px;
}

.profile-icon{
    color: white;
    top: 23px;

    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;

    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}
.profile-icon i:hover{
    color: crimson;
}

.profile-dropdown{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    padding: 10px 0;
    min-width: 120px;
    display: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.profile-dropdown a{
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
    text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile-dropdown form{
    margin: 0;
    padding: 0;
}

.profile-dropdown button{
     background: none;
       border: none;
       color: white;
       font-size: 16px;
       cursor: pointer;
       width: 100%;
       text-align: left;
       padding: 8px 12px;
       padding-left: 30px;
}

.profile-dropdown button:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.profile-dropdown a:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.dropdown{
    position: relative;
}

.dropdown-menu{
    position: absolute;
    top: 100%;
    left: 0;
    background-color:rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    list-style: none;
    padding: 10px 0;
    min-width: 150px;
    display: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown-menu li{
    padding: 8px 15px;
}

.dropdown-menu li a{
    color: rgb(240, 199, 199);
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-menu li:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.dropdown i{
    margin-left: 5px;
    font-size: 12px;
}

.watchlist-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* 5 max per row */
    gap: 20px;
    align-items: start; /* ensures grid items align to top */
    justify-items: center;
    padding: 1rem;
    padding: 20px;
    border: 1px;
}

.watchlist-box, .create-watchlist-box {
     background-color: #161515;
       border-radius: 12px;
       padding: 20px;
       color: white;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       height: 150px;
       width: 150px;
       cursor: pointer;
       transition: transform 0.2s ease;
}

.watchlist-box:hover, .create-watchlist-box:hover {
    transform: scale(1.03);
    background-color: #2a2a2a;
}

.create-watchlist-box i {
     font-size: 2rem;
        margin-bottom: 10px;
}

.modal {
    position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* for the darkened effect */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  }
  
  .modal-content {
    animation: modalFadeIn 0.3s ease-out;
    background-color: #222;
    padding: 20px  30px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    color: #fff;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  /* Hidden by default */
  .hidden {
    display: none;
  }
  
  .modal input {
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    width: 100%; /* ensures it fills the modal’s width */
    box-sizing: border-box;
  }
  
  .modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .modal-actions button {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  #cancel-modal {
    background-color: #444;
    color: white;
  }

  #cancel-modal:hover{
    background-color: #161515;
  }
  
  #create-watchlist {
    background-color: #03a9f4;
    color: white;
  }

  #create-watchlist:hover{
    background-color: #1181b4;
  }

  @keyframes modalFadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  

